@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

#main {
    max-width: 2000px;
    max-height: 2000px;
    margin: 0 auto;
}
html, body {
    background: #111111;
    margin: 0;
    padding: 0;
}
